{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "linebreak-style": 0,
    "no-tabs": "off",
    "require-jsdoc": "off",
    "semi": "off",
    "object-curly-spacing": "off",
  },
  "extends": ["eslint:recommended", "google"]
}
