webpack (import/export)
    - babel
    - scss
    - eslint
    - 2 modes:
        - dev
            - dev server, sourcemaps, eslint, not minified code
        - prod
            - minified code
git
    - development
    - production