// colors
$base: #888;
$blue: #2196f3;
$grey: #e5e5e5;
$light-grey: #f8f9fa;
$black: #000;

$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
