@import 'variables';
@import 'mixins';

.db {
  &__header {
    @include flex-center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: $db-header-height;
    background: $white;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
    z-index: 100;
  }

  &__new {
    margin-top: $db-header-height;
    padding: 1.5rem;
    background: $grey;
  }

  &__create {
    @include flex-center;
    width: 160px;
    height: 160px;
    background: $white;
    border-radius: 4px;
    border: 1px solid $grey;
    font-size: 1.5rem;
    text-decoration: none;
    color: $black;
    transition: .2s;

    &:hover {
      color: $green;
      border-color: $green;
    }
  }

  &__view {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__table {
    padding: 1rem;
  }

  &__list-header,
  &__record {
    display: flex;
    justify-content: space-between;
  }

  &__list-header {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 12px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__record {
    padding: 12px 14px 12px 16px;
    margin-bottom: 10px;

    &:hover {
      background: $light-green;
      border-radius: 25px;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
